* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", san-serif;
}

header {
    margin-bottom: 20px;
    margin-left: 20px;
}

section {
    margin-bottom: 20px;
    margin-left: 20px;
}